@import "tailwindcss";

body{
  padding: none;
  margin: none;
  overflow-x: hidden;
  position: relative;
}

.navbar{
  height: 13vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 3rem;
  position: sticky;

}

.logo{
  color: rgb(3, 137, 247);
  font-weight: bold;
  font-size: 1.5rem;
}

.navtext{
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .9rem;
  color: gray;
}

.par:hover{
  color: rgb(3, 137, 247);
  cursor: pointer;
}

.navBtn{
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.btn{
  background-color: rgb(3, 137, 247);
  height: 65%;
  width: 40%;
  border-radius: 10px;
}

.btn:hover{
  cursor: pointer;
  background-color: rgb(88, 180, 255);
}

.btn1{
  background-color: transparent;
  color: black;
}

.btn1:hover{
  background-color: rgb(230, 228, 228);
}

.hero{
  height: 85vh;
  width: 100vw;
  background-color: rgb(3, 137, 247);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

.heroHead{
  font-weight: bold;
  font-size: 3rem;
}

.heroPar{
  font-size: 1.5rem;
  margin-top: 2rem;
}

.Btn{
  width: 15%;
  height: 10%;
  margin-top: 2rem;
  border-radius: 10px;
}

.heroBtn{
  background-color: white;
  color: rgb(3, 137, 247);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.heroBtn:hover{
  cursor: pointer;
  background-color: rgb(243, 239, 239);
}


.lang{
  width: 49%;
  height: 100%;
  border: 2px solid red;
  padding: 2rem;
}

.langText{
  width: 100%;
  height: auto;
  border: 2px solid black;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.Langtext{
  border: 2px solid black;
  margin-top: 2rem;
  height: 20%;
}

.input{
  border: 2px solid black;
  margin-top: .7rem;
}

.phrase{
  border: 2px solid black;
  height:  60%;
  margin-top: 3rem;
}

.praseH

.book{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 77vh;
  border: 2px solid black;
}

.input{
  border: 2px solid rgb(187, 187, 187);
  width: 30vw;
  height: 7vh;
  border-radius: 10px;
}